{% extends 'base.html' %}
{% block lists %}Опросник{% endblock %}
{% block content %}

    {% if answers %}<br/>
        <h1>Все опросы</h1><br/>
    {% else %}
        <br/><h1>Нет опросов</h1><br/>
    {% endif %}

    {% for answer in answers %}
        <div class="card bg-primary mb-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Вопрос: {{ answer.poll }}</li>
                <li class="list-group-item">Ответ: {{ answer.choice }}</li>
                <li class="list-group-item">Дата и время прохождения ответа: {{ answer.time_of_answer }}</li>

            </ul>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}<br/>
{% endblock %}