<div class="pagination">
    <span class="step-links">
        <a href="?page=1{% if search %}&search={{ search }}{% endif %}">&laquo; To the beginning</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Back</a>
        {% else %}
            <span class="page-disabled">Back</span>
        {% endif %}
        <form class="current-page" method="get">
            <label for="page">
                Page <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                of {{ page_obj.paginator.num_pages }}
                <input type="hidden" name="search" value="{{ search }}">
            </label>
        </form>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Further</a>
        {% else %}
            <span class="page-disabled">Further</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if search %}&search={{ search }}{% endif %}">In the end &raquo;</a>
    </span>
</div>